<div class="container">
  <div class="header">
    <h1>Deals</h1>
    <div>
      <a class="btn-primary" [routerLink]="['/deals/new']">Add New Deal</a>
    </div>
  </div>

  <table *ngIf="deals.length > 0; else noDeals">
    <thead>
      <tr>
        <th>Title</th>
        <th>Value</th>
        <th>Stage</th>
        <th>Close Date</th>
        <!-- <th>Deal</th> -->
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let deal of deals">
        <td>{{ deal.title }}</td>
        <td>{{ deal.value }}</td>
        <td>{{ deal.stage }}</td>
        <td>{{ deal.closeDate | date:'mediumDate' }}</td>
        <!-- <td>{{ deal.contactId }}</td> -->
        <td>
          <a class="btn-secondary" [routerLink]="['/deals', deal.id]">View</a>
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #noDeals>
    <p>No deals found. Why not add one?</p>
  </ng-template>
</div>